---
Language: Cpp
# Other supported languages include C, ObjC, and JavaScript.

# Indentation
IndentWidth: 4
UseTab: Never

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

