#DIRECTORIOS
.vs/

Temp/
Lib/

Dependencias/Ogre/Build
Dependencias/Bullet/Build


#TIPOS DE ARCHIVOS

*.vcxproj.user

*.pdb
*.log
*.ik
*.idb
*.obj
*.exe
*.exe.recipe
*.lib.recipe
*.lastbuildstate
*.exp
desktop.ini
Exes/Motor_d.lib
Exes/Motor.lib
