# DIRECTORIOS
.vs/

Temp/
Lib/

Dependencias/Ogre/Build
Dependencias/Bullet/Build

Exes/*
!Exes/Assets/

# ARCHIVOS
desktop.ini
Exes/Motor_d.lib
Exes/Motor.lib

# TIPOS DE ARCHIVOS
*.vcxproj.user

*.pdb
*.log
*.ik
*.idb
*.obj
*.exe
*.exe.recipe
*.lib.recipe
*.lastbuildstate
*.exp


# Ignore CLion project directory and iml files
.idea/
*.iml

# Ignore build directories
cmake-build-*/
/build/
/installed/
/android-build/
/embuild/
/eminstall/
/mingw/

# Meta data of macOS's Finder.app
.DS_Store

/Samples/Media/RTShaderLib/cache/

# Ignore vim files
*.swp

# NO IGNORAR
!Dependencias/CMake/bin/cmake.exe